label {
  margin-top: 10px !important ;
}
.radiog {
  margin: 0 !important;
}

.gender {
  margin-top: 66px;
}

.gender hr {
  margin-top: -15px;
  font-weight: 50;
}
.body {
  background-color: whitesmoke;
  padding-bottom: 70px;
  width: 100%;
}
